<ion-header>
  <ion-toolbar>
    <ion-label>DETALLE DEL PERSONAJE</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="characterdetail">
  <ion-grid>
    <ion-row>
      <ion-col class="logo">
        <ion-img [src]="character.image" style="width:40%"></ion-img>
      </ion-col>
    </ion-row>
      <ion-col>
        <h3><b>Nombre: </b> {{ character.name }}</h3>
        <h3><b>Género: </b> {{ character.gender }}</h3>
        <h3><b>Status: </b> {{ character.status }}</h3>
        <h3><b>Especie: </b> {{ character.species }}</h3>
        <h3><b>Origen: </b> {{ character.origin.name }}</h3>
      </ion-col>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>