<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <p>Bienvenidos a mi perfil de Github, allí podrán encontrar algunos de mis proyectos realizados en varios lenguajes
    de programación, c#, javascript y algunas páginas de proyectos en HTML - CSS.
  </p>

  <br>

  <p>
   ✅ Nombre: Jimmy Alexander Toro Páez <br>
   ✅ Correo: Toroalexander29@gmail.com
  </p>

<h2>➡ Visita Mi <a href="https://github.com/Alexand3r123" target="_blank">Github</a></h2>
<br>
<h2>➡ Visita el <a href="https://github.com/Alexand3r123/Angular-Ionic-React" target="_blank">API</a> del desarrollo</h2>
</ion-content>
